name: Sync commits to CNB (force)

on:
  schedule:
    - cron: "0 */6 * * *"   # 每 6 小时执行一次
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      reason:
        description: 'Manual trigger reason'
        required: false
        default: 'Manual run'

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0

      - name: Check if there are commits in the last 6 hours
        id: check
        run: |
          NEW_COMMITS=$(git log --since="6 hours ago" --oneline)
          if [ -z "$NEW_COMMITS" ]; then
            echo "No new commits in the last 6 hours, skip sync."
            echo "skip=true" >> $GITHUB_OUTPUT
          else
            echo "New commits found:"
            echo "$NEW_COMMITS"
            echo "skip=false" >> $GITHUB_OUTPUT
          fi

      - name: Add CNB remote and force push
        if: steps.check.outputs.skip == 'false'
        env:
          CNB_USERNAME: ${{ secrets.CNB_USERNAME }}
          CNB_TOKEN: ${{ secrets.CNB_TOKEN }}
        run: |
          rm -rf .git
          git init
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add .
          git commit -m "Sync commit ==> [$(date +"%Y-%m-%d %H:%M:%S")]"
          git branch -M main
          git remote add origin "https://${{ secrets.CNB_USERNAME }}:${{ secrets.CNB_TOKEN }}@cnb.cool/liiiu/appstore.git"
          git push --force --quiet origin main
